p {
color: #457845;
}

.hero-image {
    margin: 2rem auto;
    width: 100%;
    height: 50vh;
}

.image-fixed {
    padding: 1rem;
    background-image: url("../assets/computer.jpg");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}